.wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.entrada{
    display: flex;
    text-align: center;
    padding: 5px;
    border: 1px solid white;
}

.btnCompra{
    background-color: white; 
    color: black;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10%;
}